@font-face {
	font-family: "Kafka";
	src: url("fonts/Kafka/Kafka Display.otf") format("opentype")
	}

header {
    z-index: 100;
}

footer {
    z-index: 100;
}

::selection {
	background-color: #23c0b6;
	color: black;
}

::-moz-selection {
	background-color: #23c0b6;
	color: black;
}

.filterCl {
	display: none;
}

#top {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 20px;
}

/*////////////////////////////////grid styling */

#middle-1 {
    width: 78%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

#middle-2 {
    width: 78%;
    margin: auto;
    padding-bottom: 100px;
}

#middle {
    width: 78%;
    margin: auto;
    padding-top: 60px;
}

#bottom {
    width: 82%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 10px;
}

.bottom-left {
    text-align: right;
}

#links {
    margin-top: 40px;
}

.col-2-5 {
    width: 50%;
    display: inline-block;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 40%;
}

.col-3 {
    width: 60%;
}

.col-4 {
    width: 80%;
}

.col-5 {
    width: 100%;
}

.col-padding-left {
    padding-left: 34px;
}

/*////////////////////////////////nav styling */

.nav-hamburger {
    display: none;
}

/*////////////////////////////////typography styling */

.kafka {
    font-family: "Kafka", sans-serif;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 200;
}

h1 {
    font-family: "Kafka", sans-serif;
    font-size: 11em;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

.text-display {
    color: #43675A;
    line-height: 80%;
    margin-top: 68px;
    margin-bottom: 68px;
}

.text-home {
    color: #464646;
}

.text-body {
    font-size: 24px;
    line-height: 33px;
    color: #464646;
    font-weight: 200;
    padding-right: 20%;
}

.header-case-change:hover {
    text-transform: lowercase;
}

h2,h3,h4 {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
}

.subheader {
    padding-top: 2px;
}

p {
    font-family: "Manrope", sans-serif;
}

a:link {
    color: #464646;
    text-decoration: none;
}

a:visited {
    color: #464646;
    text-decoration: none;
}

a:hover {
    color: #43675A;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-manrope {
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Kafka", sans-serif;
    font-size: 28px;
  }
  
.nav li {
    float: left;
  }
  
.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: .2s ease-in-out;
  }
  
.nav a:hover {
    color: #23c0b6;
    transition: .2s ease-in-out;
  }

.nav a:active {
    color: #23c0b6;
}

.text-list {
    margin: 0;
    padding-left: 10;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
}

.subtitle {
    font-size: 17px;
    font-weight: 200;
    color: #656a72;
    margin-top: 0;
    margin-bottom: 0px;
}

.subtitle-date {
    font-weight: 500;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}

.text-project {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    margin-top: 0;
    color: #000000;
    list-style-type: none;
    padding-left: 0;
}

.text-link:link {
    font-weight: 600;
    color: #23c0b6;
}

.text-link:visited {
    color: #23c0b6;
}

.link-external {
    padding-right: 20px;
}

.text-footer {
    font-size: 13px;
}

.to-top {
    text-align: right;
    float: right;
    font-family: 'Kafka', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

